.nav-into-search-popover ul {
  margin: 0; }

.search-check-more {
  display: none;
  text-align: center;
  background-color: #fff;
  color: #000 !important;
  padding: 10px; }
  @media (max-width: 991px) {
    .search-check-more {
      background: #000;
      color: #fff !important;
      font-weight: bold; } }

.search-result .gc-image {
  float: left;
  width: 88px;
  height: 95px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  @media (max-width: 991px) {
    .search-result .gc-image {
      width: 100px;
      height: 120px; } }

.search-result li {
  overflow: hidden; }

.search-result li > a {
  display: block;
  margin-bottom: 10px;
  background: #fff; }
  @media (max-width: 991px) {
    .search-result li > a {
      max-width: 468px;
      margin: auto auto 13px;
      border-radius: 3px; } }

.search-result li:last-of-type > a {
  margin-bottom: 0; }

.search-result li .gc-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 95px; }
  @media (max-width: 991px) {
    .search-result li .gc-detail {
      min-height: 120px;
      padding-left: 23px;
      padding-right: 23px;
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .search-result li .gc-detail h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    max-height: 72px;
    padding-bottom: 6px;
    overflow: hidden;
    text-transform: capitalize; }
    @media (max-width: 991px) {
      .search-result li .gc-detail h2 {
        font-size: 15px;
        line-height: 1.33; } }
